<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="about">
      <h5>Welcome to Rail Raider</h5>
      <div class="background"></div>
      <div class="container">
        <div class="row mt-5 mb-5">
          <div class="col-md-6">
            <div class="card card-body block h-100">
              <h5 class="text-center mb-3">Popular Stations</h5>

              <ul class="row">
                <li class="col-md-6">
                  <i
                    class="fa fa-map-marker"
                    aria-hidden="true"
                    style="color: #f69230; font-size: 17px"
                  ></i>
                  <a
                    
                    style="color: #333333"
                    title="Chennai to Madurai"
                  >
                    Chennai to Madurai</a
                  >
                </li>
                <li class="col-md-6">
                  <i
                    class="fa fa-map-marker"
                    aria-hidden="true"
                    style="color: #f69230; font-size: 17px"
                  ></i>
                  <a
                    
                    style="color: #333333"
                    title="Chennai to Pondy"
                  >
                    Chennai to Pondy</a
                  >
                </li>
                <li class="col-md-6">
                  <i
                    class="fa fa-map-marker"
                    aria-hidden="true"
                    style="color: #f69230; font-size: 17px"
                  ></i>
                  <a
                    
                    style="color: #333333"
                    title="Chennai to Vishagapattinam"
                  >
                    Chennai to Vishagapattinam</a
                  >
                </li>
                <li class="col-md-6">
                  <i
                    class="fa fa-map-marker"
                    aria-hidden="true"
                    style="color: #f69230; font-size: 17px"
                  ></i>
                  <a
                    
                    style="color: #333333"
                    title="Chennai to Vishagapattinam"
                  >
                    Chennai to Bangalore</a
                  >
                </li>
              </ul>
            </div>
          </div>

          <div class="col-md-6">
            <div class="card card-body block h-100">
              <div id="why_buy">
                <div class="info_right">
                  <h5 class="text-center mb-3">Why buy tickets from us?</h5>
                  <img src="../../../assets/images/logo.png" class="card-img" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row pt-5 mb-5 justify-content-center">
          <img
            src="../assets/img/sslcommerz_logo.png"
            class="img-fluid"
            alt=""
          />
        </div>
      </div>
    </div>
  </body>
</html>
