<!-- <ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium"
  color="#fff"
  type="square-jelly-box"
  [fullScreen]="true"
  ><p style="color: white">Loading...</p></ngx-spinner
> -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <div class="row d-flex justify-content-center">
        <div class="col-md-4 mt-4">
          <div class="card my-5">
            <form
              [formGroup]="signupForm"
              class="card-body p-lg-5"
              (ngSubmit)="signup()"
            >
              <h4 class="card-title mb-3 text-center">SIGNUP</h4>
              <div class="form-group mb-4">
                <label class="form-label">Username</label>
                <input
                  type="text"
                  name="username"
                  class="form-control"
                  formControlName="username"
                  [ngClass]="{
                    'is-invalid': submitted && f['username'].errors
                  }"
                />
                <div
                  *ngIf="submitted && f['username'].errors"
                  class="invalid-feedback"
                >
                  <div *ngIf="f['username'].errors['required']">
                    Please enter username
                  </div>

                  <div *ngIf="f['username'].errors['minlength']">
                    Please enter min 6 characters
                  </div>
                  <div *ngIf="f['username'].errors['maxlength']">
                    Please enter max 20 characters
                  </div>
                </div>
              </div>
              <div class="form-group mb-4">
                <label class="form-label">Email</label>
                <input
                  type="email"
                  name="email"
                  class="form-control"
                  formControlName="email"
                  [ngClass]="{ 'is-invalid': submitted && f['email'].errors }"
                />
                <div
                  *ngIf="submitted && f['email'].errors"
                  class="invalid-feedback"
                >
                  <div *ngIf="f['email'].errors['required']">
                    Please enter email address
                  </div>
                  <div *ngIf="f['email'].errors['email']">
                    Please enter valid email address
                  </div>
                </div>
              </div>
              <div class="form-group mb-2">
                <label class="form-label">Password</label>
                <input
                  [type]="showPassword ? 'text' : 'password'"
                  name="password"
                  class="form-control"
                  formControlName="password"
                  id="password"
                  [ngClass]="{
                    'is-invalid': submitted && f['password'].errors
                  }"
                />
                <div
                  *ngIf="submitted && f['password'].errors"
                  class="invalid-feedback"
                >
                  <div *ngIf="f['password'].errors['required']">
                    Please enter password
                  </div>
                  <div
                    *ngIf="
                      f['password'].errors && f['password'].errors['pattern']
                    "
                  >
                    Use 8 or more characters with a mix of letters, numbers &
                    symbols
                  </div>
                </div>
              </div>
              <div class="form-group mb-4">
                <label class="form-label">Choose Option</label>
                <select
                  class="form-select"
                  (change)="onChange($event)"
                  formControlName="role"
                >
                  <option
                    *ngFor="let data of roles"
                    value="{{ data.name }}"
                    [disabled]="data.id == 0"
                  >
                    {{ data.value }}
                  </option>
                </select>
              </div>
              <div
                *ngIf="submitted && f['role'].errors"
                class="invalid-feedback"
              >
                <div *ngIf="f['role'].errors['required']">
                  Please select your role
                </div>
              </div>
              <div class="form-check my-2">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  (change)="hideShowPassword($event)"
                />
                <label class="form-check-label"> Show Password </label>
              </div>
              <div class="text-center">
                <button class="btn px-5 mb-5 w-100">Signup</button>
              </div>
              <div class="form-text text-center">
                Have Account?
                <a (click)="login()" class="text-dark fw-bold">
                  Login Here</a
                >
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
